body{
    display: flex;
    justify-content: center;
}
.button{
    display: block;
    background-color: rgba(0, 0, 255, 0.767);
    padding: 8px;
    color: white;
    border-radius: 5px;
}
.moviesArea{
display: grid;
grid-template-columns: repeat(4,200px);
gap: 20px;
}
.imgAvatar{
    display:block;
    width: 100px;
}